$primary: #27ae60;
$gray-default: #aaaaaa;
$gray-lightest: #f9f9f9;
$gray-dark: #777777;
$gray-darker: #454545;
$naturals-black: #222222;
$naturals-white: #ffffff;
$annotations-success: #66cb9f;
$annotations-error: #f16063;
$secondary-more-light: #9caebb;
$secondary-very-very-light: #e4e9ec;
$color-silver: #eeeeee;
$gray-background: #f7f8f9;
$box-shadow: rgba(50, 50, 71, 0.05);
$box-shadow-1: rgba(0, 0, 0, 0.1);
$box-shadow-2: rgba(12, 26, 75, 0.24);
$box-shadow-3: rgba(0, 0, 0, 0.38);
